.wui-button {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 32px;
  background-color: transparent;
  border-radius: 4px;
  border: none;

  &:focus {
    outline: none;
  }
}

.wui-elevation {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: 0px;
    padding: 1px;
    border-radius: 4px;
    -webkit-mask-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    -webkit-mask-clip: content-box, border-box;
    -webkit-mask-composite: xor;
  }
}

.wui-button.accent {
  color: var(--fill-color-textOnAccent-primary);
  background-color: var(--fill-color-accent-default);

  &:hover {
    background-color: var(--fill-color-accent-secondary);
  }

  &:active {
    color: var(--fill-color-textOnAccent-secondary);
    background-color: var(--fill-color-accent-tertiary);

    &::before {
      background: var(--stroke-color-controlStroke-onAccentDefault);
    }
  }

  &:disabled {
    color: var(--fill-color-textOnAccent-disabled);
    background-color: var(--fill-color-accent-disabled);
  }
}

.wui-button.standard {
  color: var(--fill-color-text-primary);
  background-color: var(--fill-color-control-default);

  &:hover {
    background-color: var(--fill-color-control-secondary);
  }

  &:active {
    color: var(--fill-color-text-secondary);
    background-color: var(--fill-color-control-tertiary);

    &::before {
      background: var(--stroke-color-controlStroke-default);
    }
  }

  &:disabled {
    color: var(--fill-color-text-disabled);
    background-color: var(--fill-color-control-disabled);
    border: 1px solid var(--stroke-color-controlStroke-default);
  }
}
