.WinUI-flyout {
  padding: 16px;

  background: url("./NoiseAsset_256.png"),
    var(--background-fill-color-acrylic-background-default);
  background-blend-mode: normal, luminosity;
  border: 1px solid var(--stroke-color-surface-stroke-flyout);
  box-shadow: var(--shadow-flyout);

  backdrop-filter: blur(60px);
  border-radius: 7px;
}
