.wui-mica {
  position: relative;
  // border: 1px solid var(--surface-stroke-default);
  border-radius: 7px;

  .wui-mica-gaussian-blur,
  .wui-luminosity-blend,
  .wui-color-blend,
  .wui-mica-content {
    position: absolute;
    border-radius: 7px;
  }

  .wui-mica-gaussian-blur {
    backdrop-filter: blur(120px);
  }
}
