.WinUI-link {
  font-family: "Segoe UI Variable Static Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  color: var(--fill-color-accent-text-primary);

  &:hover {
    text-decoration-line: none;
    color: var(--fill-color-accent-text-tertiary);
  }

  &:active {
    text-decoration-line: none;
    color: var(--fill-color-accent-text-secondary);
  }

  &.WinUI-disabled {
    text-decoration-line: underline;
    color: var(--fill-color-accent-text-disabled);
  }

  &:focus-visible {
    // TODO: how to implement inner stroke?
    outline: 3px solid var(--stroke-color-focus-stroke-outer);
    outline-offset: 1px;
    border-radius: 4px;
  }
}
