.WinUI-button {
  min-width: 120px;
  padding: 5px 12px 7px;

  font-family: "Segoe UI Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  // TODO: how to implement gradient rounded corners border?
  border: 1px solid transparent;

  border-radius: 4px;

  &:focus-visible {
    // TODO: how to implement inner stroke?
    outline: 3px solid var(--stroke-color-focus-stroke-outer);
    outline-offset: 1px;
  }
}

.WinUI-button.accent {
  color: var(--fill-color-text-on-accent-primary);
  background-color: var(--fill-color-accent-default);

  &:hover {
    background-color: var(--fill-color-accent-secondary);
  }

  &:active {
    color: var(--fill-color-text-on-accent-secondary);
    background-color: var(--fill-color-accent-tertiary);
    border-color: var(--stroke-color-control-stroke-on-accent-default);
  }

  &:disabled {
    color: var(--fill-color-text-on-accent-disabled);
    background-color: var(--fill-color-accent-disabled);
    border-color: transparent;
  }
}

.WinUI-button.standard {
  color: var(--fill-color-text-primary);
  background-color: var(--fill-color-control-default);

  &:hover {
    background-color: var(--fill-color-control-secondary);
  }

  &:active {
    color: var(--fill-color-text-secondary);
    background-color: var(--fill-color-control-tertiary);
    border-color: var(--stroke-color-control-stroke-default);
  }

  &:disabled {
    color: var(--fill-color-text-disabled);
    background-color: var(--fill-color-control-disabled);
    border-color: var(--stroke-color-control-stroke-default);
  }
}
